//website globals

//colors
$primary-color: #2ecc71;
$primary-color-dark: #2eb871;
$background-base: #edeff0;
$card-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$black: #000000;
$dark-gray: #4a4a4a;
$light-gray: #8a8a8a;
$white: #ffffff;

//font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//font families
$font-family-primary: 'Roboto', sans-serif;
$font-family-footer: 'Raleway', sans-serif;

//for challenges
$challenge-easy-primary-color: #27a060;
$challenge-medium-primary-color: #2980a5;
$challenge-hard-primary-color: #d34c3c;
